<div class="album-info">
	<div class="main" *ngIf="albumInfo">
		<div class="info">
			<div class="thumbnail">
				<img [src]="albumInfo.cover" [alt]="albumInfo.albumTitle" class="cover">
				<div class="back-cover"></div>
			</div>
			<div class="contents">
				<h1>
					<app-tag tagColor="#5fa8fc" class="tag">连载</app-tag>
					<span>{{albumInfo.albumTitle}}</span>
				</h1>
				<div class="record">
					<div class="rate">
						<div class="star-wrap">
							star|star
						</div>
						<span class="score">{{score}}分</span>
					</div>
					<div class="play-count">
						<i appIcon="headset" class="icon"></i>
						<span>{{ albumInfo.playCount | numberFormat }}</span>
					</div>
				</div>
				<div class="metas">
					<app-tag class="meta" *ngFor="let meta of albumInfo.metas">{{meta.metaDisplayName}}</app-tag>
				</div>
				<div class="actions">
					<button appBtn [btnCircle]="true" class="btn">
						<i appIcon="play1" class="icon"></i>
						播放全部
					</button>
				</div>
			</div>
		</div>
		<div class="intro">
			<article [innerHTML]="albumInfo.detailRichIntro"></article>
			<div class="more-arrow">
				<div class="blur"></div>
				<span>显示全部</span>
				<i appIcon="arrow-down-line" class="icon"></i>
			</div>
		</div>
	</div>
</div>
