<div style="height: 62px" *ngIf="fix"></div>
<!-- [class.fix]="fix" -->
<!-- [@moveUpMotion]="fix" -->
<header [@moveUpMotion]="fix">
	<div class="container">
		<div class="logo">
			<img src="../../../assets/images/logo2.png" alt="ng-music" />
			<h1>Angular 10</h1>
		</div>
		<div class="mid">
			<a routerLink="/book">Book</a> |
			<a routerLink="/movie">Movie</a>
		</div>
		<div class="user">
			<a *ngIf="!user?.name;else context" (click)="loginClickHandle.emit()">请登录</a>
			<ng-template #context>
				{{user.name}}
				<a (click)="logoutClickHandle.emit()">退出</a>
			</ng-template>
		</div>
	</div>
</header>
