<div class="app-player-box" appDrag>
	<div class="app-player" #player>
		<div class="thumbnail">
			<img appDragHandle [src]="album.cover || '../../../assets/images/default-pic.jpg'"/>
		</div>
		<div class="middle">
			<div class="operate">
				<i class="icon icon-prev" appIcon="previous"></i>
				<i class="icon icon-toggle" (click)="togglePlay()" [appIcon]="playing ? 'pause' : 'play'"></i>
				<i class="icon icon-next" appIcon="next"></i>
			</div>
		</div>
		<div class="list">
			<i class="icon" appIcon="mulu"></i>
		</div>
		<div class="close">
			<i class="icon" appIcon="Close"></i>
		</div>
	</div>
	<div class="app-player-panel down">
		<div class="panel-wrap">
			<ul>
				<li
					*ngFor="let track of trackList;trackBy: trackByTracks"
					[class.current]="track.trackId === currentTrack.trackId"
				>
					<p class="title ellipsis" [title]="track.title">{{ track.title }}</p>
					<i class="icon" appIcon="delete"></i>
				</li>
			</ul>
		</div>
	</div>
	<audio
		#audio
		[src]="currentTrack?.src"
		(canplay)="canplay()"
		(ended)="ended()"
		(error)="error()"
	></audio>
</div>
