<div class="app-player-box" appDrag (dragEnd)="dragEnd($event)" (mouseenter)="hoverPlayer()">
	<div class="app-player" #player>
		<div class="thumbnail">
			<img appDragHandle [src]="album?.cover || '../../../assets/images/default-pic.jpg'"/>
		</div>
		<div class="middle">
			<div class="operate">
				<i class="icon icon-prev" (click)="prev(currentIndex - 1)" appIcon="previous"></i>
				<i class="icon icon-toggle" (click)="togglePlay()" [appIcon]="playing ? 'pause' : 'play'"></i>
				<i class="icon icon-next" (click)="next(currentIndex + 1)" appIcon="next"></i>
			</div>
		</div>
		<div class="list">
			<i class="icon" appIcon="mulu" (click)="togglePanel(!showPanel)"></i>
		</div>
		<div class="close">
			<i class="icon" appIcon="Close" (click)="closePlayer.emit()"></i>
		</div>
	</div>
	<div
		class="app-player-panel" @playerPanel
		[class.down]="isDown" *ngIf="trackList.length && showPanel"
	>
		<div class="panel-wrap">
			<ul>
				<li
					*ngFor="let track of trackList;index as i; trackBy: trackByTracks"
					[class.current]="track.trackId === currentTrack?.trackId"
				>
					<p
						class="title ellipsis"
					   	[title]="track.title"
						(click)="changeTrack(i)"
						>{{ track.title }}</p>
					<i class="icon" appIcon="delete" (click)="deleteTrack(i)"></i>
				</li>
			</ul>
		</div>
	</div>
	<audio
		#audio
		[src]="currentTrack?.src"
		(canplay)="canplay()"
		(ended)="ended()"
		(error)="error()"
	></audio>
</div>
