<div id="music">
	<app-header (loginClickHandle)="showDialog = true" (logoutClickHandle)="logout()"></app-header>
<!--	<button (click)="showMessage()">info message</button>-->
<!--	<button (click)="showMessage('success')">success message</button>-->
<!--	<button (click)="showMessage('warning')">warning message</button>-->
<!--	<button (click)="showMessage('error')">error message</button>-->
	<div class="content">
		<div class="container">
			<div class="breadcrumb-wrap">
				<app-breadcrumb>
					<app-breadcrumb-item>全部分类</app-breadcrumb-item>
					<app-breadcrumb-item>
						<div class="sub-category" *ngrxLet="currentCategory$ as currentCategory">
							<div class="handler">
								<span class="current">{{currentCategory?.displayName}}</span>
								<i class="arrow"></i>
							</div>
							<div class="category-box">
								<ul>
									<li (click)="changeCategory(item)" [class.checked]="item.id === currentCategory?.id"
										*ngFor="let item of categories$ | ngrxPush">{{item.displayName}}</li>
								</ul>
							</div>
						</div>
					</app-breadcrumb-item>
					<ng-container *ngIf="subCategory$ | ngrxPush as subcategory">
						<app-breadcrumb-item *ngFor="let item of subcategory">{{ item }}</app-breadcrumb-item>
					</ng-container>
				</app-breadcrumb>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<app-login [showDialog]="showDialog" (responseEvent)="showDialog = false"></app-login>
<!--<div class="test-drag" appDrag [limitInWindow]="true">-->
<!--	<div class="block">block1</div>-->
<!--	<div class="block block2">block2 <span appDragHandle>内部的P标签</span></div>-->
<!--	<div appDragHandle class="block block3">block3</div>-->
<!--</div>-->
<app-player
	*ngIf="showPlayer"
	[trackList]="trackList"
	(closePlayer)="closePlayer()"
	@fadePlayer
>
</app-player>
<!--<app-back-top target=".scroll-box" [tpl]="appTpl"></app-back-top>-->
<app-back-top></app-back-top>

<!--<div class="scroll-box" style="width: 500px; height: 250px;overflow-y: scroll; border: 1px solid">-->
<!--	<div style="height: 2000px; background: #19be6b">Thomas scroll test</div>-->
<!--</div>-->
<!--<ng-template #appTpl>-->
<!--	<b>Up!!!</b>-->
<!--</ng-template>-->
