<div id="music">
	<app-header (loginClickHandle)="showDialog = true" (logoutClickHandle)="logout()"></app-header>
	<button (click)="showMessage()">info message</button>
	<button (click)="showMessage('success')">success message</button>
	<button (click)="showMessage('warning')">warning message</button>
	<button (click)="showMessage('error')">error message</button>
	<div class="content">
		<div class="container">
			<div class="breadcrumb-wrap">
				<app-breadcrumb>
					<app-breadcrumb-item>全部分类</app-breadcrumb-item>
					<app-breadcrumb-item>
						<div class="sub-category">
							<div class="handler">
								<span class="current">{{currentCategory?.displayName}}</span>
								<i class="arrow"></i>
							</div>
							<div class="category-box">
								<ul>
									<li (click)="changeCategory(item)" [class.checked]="item.id === currentCategory?.id"
										*ngFor="let item of categories;">{{item.displayName}}</li>
								</ul>
							</div>
						</div>
					</app-breadcrumb-item>
					<ng-container *ngIf="subcategory.length">
						<app-breadcrumb-item *ngFor="let item of subcategory">{{ item }}</app-breadcrumb-item>
					</ng-container>
				</app-breadcrumb>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<app-login [showDialog]="showDialog" (responseEvent)="showDialog = false"></app-login>
<!--<div class="test-drag" appDrag [limitInWindow]="true">-->
<!--	<div class="block">block1</div>-->
<!--	<div class="block block2">block2 <span appDragHandle>内部的P标签</span></div>-->
<!--	<div appDragHandle class="block block3">block3</div>-->
<!--</div>-->
