<div class="app-page-wrap">
	<ul class="app-pages">
		<li
			class="app-page"
			*ngFor="let item of listOfPageItem"
			[class.checked]="pageNum === item.num"
			[class.disabled]="item.disabled"
			(click)="pageClick(item)"
		>
			<ng-container [ngSwitch]="item.type">
				<ng-template #defaultTpl>
					<a *ngSwitchCase="'page'">{{item.num}}</a>
					<ng-container *ngSwitchDefault>
						<ng-container [ngSwitch]="item.type">
							<i *ngSwitchCase="'prev'" appIcon="previewleft"></i>
							<i *ngSwitchCase="'next'" appIcon="previewright"></i>
							<i *ngSwitchDefault appIcon="more"></i>
						</ng-container>
					</ng-container>
				</ng-template>
				<ng-container *ngTemplateOutlet="itemRender || defaultTpl; context: { $implicit: item.type, num: item.num }"></ng-container>
			</ng-container>
		</li>
	</ul>
	<div class="app-page-navigate">
		<input type="number" class="app-input"
			   (keyup.enter)="changePage(+pageInput.value)"
			   [min]="1" [max]="lastNum" #pageInput/>
		<button appBtn appRipples (click)="changePage(+pageInput.value)">跳转</button>
	</div>
</div>
