<div class="app-page-wrap">
	<ul class="app-pages">
		<li class="app-page disabled">
			<i appIcon="previewleft" class="icon"></i>
		</li>
		<li class="app-page checked">
			<a>1</a>
		</li>
		<li class="app-page">
			<i appIcon="more" class="icon"></i>
		</li>
		<li class="app-page">
			<a>4</a>
		</li>
		<li class="app-page">
			<a>5</a>
		</li>
		<li class="app-page">
			<a>6</a>
		</li>
		<li class="app-page">
			<a>7</a>
		</li>
		<li class="app-page">
			<a>8</a>
		</li>
		<li class="app-page">
			<i appIcon="more" class="icon"></i>
		</li>
		<li class="app-page">
			<a>100</a>
		</li>
		<li class="app-page">
			<i appIcon="previewright" class="icon"></i>
		</li>
	</ul>
	<div class="app-page-navigate">
		<input type="number" class="app-input" />
		<button>跳转</button>
	</div>
</div>
