.btn-list{
	margin: 15px auto;
}
.scroll-box{
	max-height: 300px;
	overflow-y: auto;
	.item {
		padding: 10px 20px;
		background-color: #666;
		color: #fff;
		border-bottom: 1px solid #fff;
		&:hover{
			background-color: #999;
		}
	}
}
